/*! CSS Used from: https://supercharge.io/styles.8b33fe3e5b80ed6ccab8.css */
a{background-color:transparent;color:#000;text-decoration:none;}
b,strong{font-weight:bolder;}
img{border-style:none;max-width:100%;}
*,::after,::before{box-sizing:inherit;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:640px){
.container{max-width:375px;}
}
@media (min-width:768px){
.container{max-width:1024px;}
}
@media (min-width:1100px){
.container{max-width:1170px;}
}
@media (min-width:1200px){
.container{max-width:1170px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-6,.col-7,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-9,.col-md-12,.col-md-4,.col-md-6,.col-md-7,.col-md-8,.col-md-9{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col-6{flex:0 0 50%;max-width:50%;}
.col-7{flex:0 0 58.33333333%;max-width:58.33333333%;}
.offset-5{margin-left:41.66666667%;}
@media (min-width:768px){
.col-md-4{flex:0 0 33.33333333%;max-width:33.33333333%;}
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-7{flex:0 0 58.33333333%;max-width:58.33333333%;}
.col-md-8{flex:0 0 66.66666667%;max-width:66.66666667%;}
.col-md-9{flex:0 0 75%;max-width:75%;}
.col-md-12{flex:0 0 100%;max-width:100%;}
.offset-md-2{margin-left:16.66666667%;}
.offset-md-3{margin-left:25%;}
.offset-md-8{margin-left:66.66666667%;}
}
@media (min-width:1100px){
.col-lg-5{flex:0 0 41.66666667%;max-width:41.66666667%;}
.col-lg-6{flex:0 0 50%;max-width:50%;}
.col-lg-7{flex:0 0 58.33333333%;max-width:58.33333333%;}
.col-lg-9{flex:0 0 75%;max-width:75%;}
.offset-lg-1{margin-left:8.33333333%;}
.offset-lg-2{margin-left:16.66666667%;}
.offset-lg-3{margin-left:25%;}
.offset-lg-7{margin-left:58.33333333%;}
}
*{box-sizing:border-box;font-family:Helvetica;}
:focus{outline:0;}
a:hover{text-decoration:none;cursor:pointer;}
strong{font-weight:600;}
h2{font-size:48px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1;}
@media screen and (max-width:640px){
h2{font-size:32px;line-height:1.07;}
}
h3{font-size:32px;font-weight:600;line-height:1.25;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;}
@media screen and (max-width:640px){
h3{font-size:28px;line-height:1.07;}
}
p{font-size:22px;font-weight:300;line-height:1.45;letter-spacing:.07px;}
.main-title{font-size:7.2rem;font-weight:700;line-height:.86;}
@media screen and (max-width:640px){
p{font-size:18px;line-height:1.44;}
.container{padding:0 24px;}
}

.read-more{display:flex;align-items:center;max-width:340px;}
.read-more:hover{cursor:pointer;}
.read-more:hover   .read-more__arrow{left:0!important;top:0!important;right:0!important;bottom:0!important;}
.read-more   .read-more__image{position:relative;margin-left:6px;}
.read-more   .read-more__arrow{transition:all 333ms;position:absolute;left:-6px;top:-6px;}
.read-more   .read-more__border{height:40px;width:40px;background-repeat:no-repeat;background-image:linear-gradient(to right,#000 100%,#000 100%),linear-gradient(to bottom,#000 100%,#000 100%),linear-gradient(to right,#000 100%,#000 100%),linear-gradient(to bottom,#000 100%,#000 100%);background-size:0 1px,1px 0,0 1px,1px 0;background-position:100% 0,0 0,0 100%,100% 100%;}
.read-more   .read-more__text{margin-left:12px;color:#000;font-size:24px;}
.read-more   .read-more__line{margin:0;font-family:Helvetica;font-size:24px;font-weight:600;line-height:.8;}
@media screen and (max-width:640px){
.read-more   .read-more__line{font-size:2rem;line-height:.8;}
}

.about .about__header{position:relative;height:562px;}
.about .container{height:100%;}
.about .about__image-container{position:absolute;top:0;right:0;left:0;bottom:0;z-index:-1;}
.about .about__image{-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;height:100%;width:100%;}
.about .about__title-flex{width:100%;height:100%;justify-content:space-between;align-items:stretch;margin:0;}
.about .about__title-left{padding-top:6.5rem;}
.about .about__title-right{align-self:flex-end;text-align:right;margin-bottom:-5.6rem;margin-top:0;padding:0;}
.about .about__body{padding:10.9rem 0 14.2rem;}
.about h3{font-size:32px;font-weight:600;margin:0 0 20px;}
.about p{font-size:22px;font-weight:300;line-height:1.45;letter-spacing:.07px;margin:0 0 32px;}
.about app-read-more{display:block;margin-top:60px;}
@media screen and (max-width:640px){
.about .about__header{padding-top:68px;height:368px;}
.about .about__image-container{top:68px;}
.about .about__title-left,.about .about__title-right{font-size:34px;line-height:.88;padding-left:0;padding-right:0;}
.about .about__title-right{margin-top:0;margin-bottom:-26px;}
.about .about__body{padding-top:70px;padding-bottom:40px;}
.about app-read-more{margin-top:37px;}
}

.block-type-seven{position:relative;}
.block-type-seven .block-type-seven__title{margin-top:0;margin-bottom:0;}

.block-type-zero{position:relative;}

.block-type-one__wrapper[_ngcontent-serverApp-c15]{position:relative;}
.block-type-one[_ngcontent-serverApp-c15]{display:flex;justify-content:flex-end;position:relative;}
img[_ngcontent-serverApp-c15]{-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;height:auto;}
@media screen and (max-width:1100px){
.block-type-one__wrapper.caption-right[_ngcontent-serverApp-c15]{padding-right:40px;}
}
@media screen and (max-width:640px){
.block-type-one__wrapper[_ngcontent-serverApp-c15]{margin-bottom:30px;}
.block-type-one__wrapper.caption-right[_ngcontent-serverApp-c15]{padding:0 30px;}
img[_ngcontent-serverApp-c15]:first-child{margin-bottom:22px;}
}

.block-type-eleven[_ngcontent-serverApp-c24]{position:relative;}
.block-type-eleven__image[_ngcontent-serverApp-c24]{width:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;}
/*! CSS Used from: https://supercharge.io/styles.8b33fe3e5b80ed6ccab8.css */
main{display:block;}
a{background-color:transparent;color:#000;text-decoration:none;}
strong{font-weight:bolder;}
img{border-style:none;max-width:100%;}
button,input,select{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}
[type=checkbox]{box-sizing:border-box;padding:0;}
[hidden]{display:none;}
*,::after,::before{box-sizing:inherit;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:640px){
.container{max-width:375px;}
}
@media (min-width:768px){
.container{max-width:1024px;}
}
@media (min-width:1100px){
.container{max-width:1170px;}
}
@media (min-width:1200px){
.container{max-width:1170px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-10,.col-md-12,.col-md-6{position:relative;width:100%;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-12{flex:0 0 100%;max-width:100%;}
}
@media (min-width:1100px){
.col-lg-10{flex:0 0 83.33333333%;max-width:83.33333333%;}
.offset-lg-1{margin-left:8.33333333%;}
}
*{box-sizing:border-box;font-family:Helvetica;}
:focus{outline:0;}
a:hover{text-decoration:none;cursor:pointer;}
label,strong{font-weight:600;}
button:disabled{color:#000;opacity:.56;}
h1{margin:.67em 0 25px;font-size:7.2rem;font-weight:700;line-height:.86;}
h2{font-size:48px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1;}
@media screen and (max-width:640px){
h1{font-size:48px;line-height:1;}
h2{font-size:32px;line-height:1.07;}
}
h4{font-size:24px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;}
@media screen and (max-width:640px){
h4{font-size:24px;line-height:1.07;}
}
p{font-size:22px;font-weight:300;line-height:1.45;letter-spacing:.07px;}
.main-title{font-size:7.2rem;font-weight:700;line-height:.86;}
.input-field{width:100%;border:none;border-bottom:1px solid #000;font-size:20px;padding:8px;background:0 0;}
.input-field::-webkit-input-placeholder{font-family:Helvetica;font-size:20px;color:#000;opacity:.72;}
.input-field::-moz-placeholder{font-family:Helvetica;font-size:20px;color:#000;opacity:.72;}
.input-field::-ms-input-placeholder{font-family:Helvetica;font-size:20px;color:#000;opacity:.72;}
.input-field::placeholder{font-family:Helvetica;font-size:20px;color:#000;opacity:.72;}
@media screen and (max-width:640px){
p{font-size:18px;line-height:1.44;}
.input-field{font-size:16px;}
.input-field::-webkit-input-placeholder{font-size:16px;}
.input-field::-moz-placeholder{font-size:16px;}
.input-field::-ms-input-placeholder{font-size:16px;}
.input-field::placeholder{font-size:16px;}
.container{padding:0 24px;}
}
.input-label{height:1.7rem;font-family:Helvetica;font-size:1.4rem;padding-left:.8rem;}
@media screen and (max-width:640px){
.input-label{font-size:12px;}
}

.footer[_ngcontent-serverApp-c8]{background-color:#000;padding:8rem 1.5rem 9rem;display:flex;flex-direction:column;align-items:center;color:#fff;font-size:2rem;}
.footer[_ngcontent-serverApp-c8]   .footer__social-media[_ngcontent-serverApp-c8]{margin-bottom:5.7rem;width:324px;display:flex;justify-content:space-between;}
.footer[_ngcontent-serverApp-c8]   .footer__copyright[_ngcontent-serverApp-c8]{font-weight:300;margin-bottom:2.3rem;}
.footer[_ngcontent-serverApp-c8]   .footer__policy[_ngcontent-serverApp-c8]{font-weight:600;color:#fff;display:inline-block;position:relative;transition:333ms;}
.footer[_ngcontent-serverApp-c8]   .footer__policy[_ngcontent-serverApp-c8]:after{content:'';bottom:3px;position:absolute;left:0;height:2px;background:#fff;width:100%;display:block;transition:333ms;transform:scaleY(.666);}
.footer[_ngcontent-serverApp-c8]   .footer__policy[_ngcontent-serverApp-c8]:hover:after{transform:scaleY(1.1);}
.footer[_ngcontent-serverApp-c8]   .footer__policy[_ngcontent-serverApp-c8]:first-child{margin-right:10px;}
.footer[_ngcontent-serverApp-c8]   .footer__icon-link[_ngcontent-serverApp-c8]{transition:333ms;}
.footer[_ngcontent-serverApp-c8]   .footer__icon-link[_ngcontent-serverApp-c8]:hover{transform:scale(1.1);}
@media screen and (max-width:640px){
.footer[_ngcontent-serverApp-c8]{padding:56px 24px 59px;}
.footer[_ngcontent-serverApp-c8]   .footer__social-media[_ngcontent-serverApp-c8]{margin-bottom:30px;width:271px;}
.footer[_ngcontent-serverApp-c8]   .footer__copyright[_ngcontent-serverApp-c8]{font-size:14px;margin-bottom:16px;}
.footer[_ngcontent-serverApp-c8]   .footer__policy[_ngcontent-serverApp-c8]{font-size:18px;}
}

.read-more{display:flex;align-items:center;max-width:340px;}
.read-more:hover{cursor:pointer;}
.read-more:hover   .read-more__arrow{left:0!important;top:0!important;right:0!important;bottom:0!important;}
.read-more   .read-more__image{position:relative;margin-left:6px;}
.read-more   .read-more__arrow{transition:all 333ms;position:absolute;left:-6px;top:-6px;}
.read-more   .read-more__border{height:40px;width:40px;background-repeat:no-repeat;background-image:linear-gradient(to right,#000 100%,#000 100%),linear-gradient(to bottom,#000 100%,#000 100%),linear-gradient(to right,#000 100%,#000 100%),linear-gradient(to bottom,#000 100%,#000 100%);background-size:0 1px,1px 0,0 1px,1px 0;background-position:100% 0,0 0,0 100%,100% 100%;}
.read-more   .read-more__text{margin-left:12px;color:#000;font-size:24px;}
.read-more   .read-more__line{margin:0;font-family:Helvetica;font-size:24px;font-weight:600;line-height:.8;}
.read-more.medium   .read-more__image{margin-left:8px;}
.read-more.medium   .read-more__arrow{height:54px;width:54px;left:-8px;top:-8px;}
.read-more.medium   .read-more__border{height:54px;width:54px;}
.read-more.medium   .read-more__text{margin-left:25px;margin-bottom:8px;}
.read-more.medium   .read-more__line{font-weight:600;font-size:32px;line-height:.75;}
@media screen and (max-width:640px){
.read-more   .read-more__line{font-size:2rem;line-height:.8;}
.read-more.medium   .read-more__image{margin-left:6px;}
.read-more.medium   .read-more__arrow{height:40px;width:40px;left:-6px;top:-6px;}
.read-more.medium   .read-more__border{height:40px;width:40px;}
.read-more.medium   .read-more__text{margin-left:12px;margin-bottom:6px;font-size:20px;}
.read-more.medium   .read-more__line{margin:0;font-size:20px;}
}

.contact[_ngcontent-serverApp-c10]{padding-top:180px;padding-bottom:80px;}
.contact[_ngcontent-serverApp-c10]   .contact__title[_ngcontent-serverApp-c10]{font-size:78px;margin:0 0 64px;}
.contact[_ngcontent-serverApp-c10]   .contact__form[_ngcontent-serverApp-c10]{border-image-slice:20 23 23 20;border-image-width:20px 20px 20px 20px;border-image-outset:0;border-image-repeat:stretch stretch;border-image-source:url(https://supercharge.io/assets/images/modal-border-new.svg);border-style:solid;margin-bottom:40px;padding:56px 86px;}
.contact[_ngcontent-serverApp-c10]   .contact__form-title-wrapper[_ngcontent-serverApp-c10]{display:flex;justify-content:space-between;align-items:center;margin-bottom:48px;}
.contact[_ngcontent-serverApp-c10]   .contact__form-title[_ngcontent-serverApp-c10]{margin:0;}
.contact[_ngcontent-serverApp-c10]   .contact__input-wrapper[_ngcontent-serverApp-c10]{height:62px;margin-bottom:26px;}
.contact[_ngcontent-serverApp-c10]   .select-field[_ngcontent-serverApp-c10]{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;background:url(https://supercharge.io/assets/images/icon-select-arrow.svg) 96%/4% no-repeat;opacity:.72;}
.contact[_ngcontent-serverApp-c10]   .contact__button-wrapper[_ngcontent-serverApp-c10]{display:flex;justify-content:space-between;align-items:center;margin-top:56px;}
.contact[_ngcontent-serverApp-c10]   .contact__button[_ngcontent-serverApp-c10]{background:0 0;border:none;}
.contact[_ngcontent-serverApp-c10]   .contact__inquiry[_ngcontent-serverApp-c10]{font-size:20px;display:flex;align-items:center;font-weight:400;padding-right:56px;}
.contact[_ngcontent-serverApp-c10]   .contact__email-text[_ngcontent-serverApp-c10]{font-size:22px;font-weight:300;line-height:1.45;display:flex;align-items:center;}
.contact[_ngcontent-serverApp-c10]   .contact__email-text[_ngcontent-serverApp-c10]   a[_ngcontent-serverApp-c10]{font-weight:400;display:inline-block;position:relative;transition:333ms;}
.contact[_ngcontent-serverApp-c10]   .contact__email-text[_ngcontent-serverApp-c10]   a[_ngcontent-serverApp-c10]:after{content:'';bottom:3px;position:absolute;left:0;height:2px;background:#000;width:100%;display:block;transition:333ms;transform:scaleY(.666);}
.contact[_ngcontent-serverApp-c10]   .contact__email-text[_ngcontent-serverApp-c10]   a[_ngcontent-serverApp-c10]:hover:after{transform:scaleY(1.1);}
.contact[_ngcontent-serverApp-c10]   .contact__email-link[_ngcontent-serverApp-c10]{margin-left:5px;}
.contact[_ngcontent-serverApp-c10]   .contact__copy-icon[_ngcontent-serverApp-c10]{display:inline-block;margin-left:15px;}
.contact[_ngcontent-serverApp-c10]   .contact__copy-icon[_ngcontent-serverApp-c10]:hover{cursor:pointer;}
.contact[_ngcontent-serverApp-c10]   .checkbox-image[_ngcontent-serverApp-c10]{background-image:url(https://supercharge.io/assets/images/icon-unchecked.svg);height:20px;width:20px;margin-right:16px;}
.contact[_ngcontent-serverApp-c10]   input[type=checkbox][_ngcontent-serverApp-c10]{display:none;}
.contact[_ngcontent-serverApp-c10]   input[type=checkbox][_ngcontent-serverApp-c10]:checked ~ .checkbox-image[_ngcontent-serverApp-c10]{background-image:url(https://supercharge.io/assets/images/icon-checked.svg);height:24px;width:24px;margin-bottom:4px;}
.contact-bottom[_ngcontent-serverApp-c10]{background-color:#ffefeb;padding:80px 0 120px;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__title[_ngcontent-serverApp-c10]{font-size:7.2rem;font-weight:600;line-height:.86;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__cities-flex[_ngcontent-serverApp-c10]{align-items:baseline;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-wrapper[_ngcontent-serverApp-c10]{position:relative;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-location[_ngcontent-serverApp-c10]{display:flex;justify-content:space-between;align-items:center;padding:0 45px;margin-top:-50px;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-address[_ngcontent-serverApp-c10]{font-size:22px;font-weight:300;line-height:1.45;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__navigation-wrapper[_ngcontent-serverApp-c10]{position:relative;height:42px;width:42px;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__navigation-border[_ngcontent-serverApp-c10]{height:100%;width:100%;border:1px solid #000;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__navigation-image[_ngcontent-serverApp-c10]{position:absolute;left:-6px;top:-6px;transition:.3s;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__navigation-image[_ngcontent-serverApp-c10]:hover{top:0;left:0;}
.contact-bottom[_ngcontent-serverApp-c10]   app-lottie[_ngcontent-serverApp-c10]{height:100%;}
@media screen and (max-width:1100px){
.contact[_ngcontent-serverApp-c10]{padding-left:53px;padding-right:53px;}
.contact[_ngcontent-serverApp-c10]   .contact__title[_ngcontent-serverApp-c10]{font-size:54px;}
.contact-bottom[_ngcontent-serverApp-c10]{padding-left:53px;padding-right:53px;}
}
@media screen and (max-width:640px){
.contact[_ngcontent-serverApp-c10]{padding:92px 15px 40px;}
.contact[_ngcontent-serverApp-c10]   .contact__title[_ngcontent-serverApp-c10]{font-size:34px;margin-bottom:32px;}
.contact[_ngcontent-serverApp-c10]   .contact__form[_ngcontent-serverApp-c10]{padding:40px 16px;border-right-width:16px;border-bottom-width:16px;}
.contact[_ngcontent-serverApp-c10]   .contact__form-title-wrapper[_ngcontent-serverApp-c10]{margin-bottom:32px;}
.contact[_ngcontent-serverApp-c10]   .contact__form-title[_ngcontent-serverApp-c10]{font-size:24px;line-height:.75;padding-right:14px;padding-left:8px;}
.contact[_ngcontent-serverApp-c10]   .contact__logo[_ngcontent-serverApp-c10]{height:40px;width:40px;}
.contact[_ngcontent-serverApp-c10]   .contact__button-wrapper[_ngcontent-serverApp-c10]{flex-wrap:wrap-reverse;margin-top:32px;}
.contact[_ngcontent-serverApp-c10]   .contact__inquiry[_ngcontent-serverApp-c10]{font-size:16px;padding-right:0;padding-left:12px;height:28px;}
.contact[_ngcontent-serverApp-c10]   input[type=checkbox][_ngcontent-serverApp-c10]:checked ~ .checkbox-image[_ngcontent-serverApp-c10]{margin-left:-4px;}
.contact[_ngcontent-serverApp-c10]   .contact__button[_ngcontent-serverApp-c10]{padding:39px 0 0 8px;}
.contact[_ngcontent-serverApp-c10]   .contact__email-text[_ngcontent-serverApp-c10]{font-size:16px;line-height:1.38;flex-wrap:wrap;}
.contact[_ngcontent-serverApp-c10]   .contact__email-link[_ngcontent-serverApp-c10]{padding-left:0;}
.contact-bottom[_ngcontent-serverApp-c10]{overflow-x:hidden;padding:40px 0;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__title[_ngcontent-serverApp-c10]{font-size:34px;line-height:.88;padding-bottom:30px;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-wrapper[_ngcontent-serverApp-c10]{margin-top:-80px;margin-bottom:40px;width:100%;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__cities-flex[_ngcontent-serverApp-c10]{margin-left:-15%;width:130%;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-location[_ngcontent-serverApp-c10]{display:flex;justify-content:space-between;align-items:center;padding:0 12%;}
.contact-bottom[_ngcontent-serverApp-c10]   .contact-bottom__city-address[_ngcontent-serverApp-c10]{font-size:22px;font-weight:300;line-height:1.45;}
}