
.footer{background-color:#000;padding:8rem 1.5rem 9rem;display:flex;flex-direction:column;align-items:center;color:#fff;font-size:1.5rem;}
.footer   .footer__social-media{margin-bottom:5.7rem;width:324px;display:flex;justify-content:space-between;}
.footer   .footer__copyright{font-weight:300;margin-bottom:2.3rem;}
.footer   .footer__policy{font-weight:600;color:#fff;display:inline-block;position:relative;transition:333ms;}
.footer   .footer__policy:after{content:'';bottom:3px;position:absolute;left:0;height:2px;background:#fff;width:100%;display:block;transition:333ms;transform:scaleY(.666);}
.footer   .footer__policy:hover:after{transform:scaleY(1.1);}
.footer   .footer__policy:first-child{margin-right:10px;}
.footer   .footer__icon-link{transition:333ms;}
.footer   .footer__icon-link:hover{transform:scale(1.1);}
@media screen and (max-width:640px){
.footer{padding:56px 24px 59px;}
.footer   .footer__social-media{margin-bottom:30px;width:271px;}
.footer   .footer__copyright{font-size:14px;margin-bottom:16px;}
.footer   .footer__policy{font-size:18px;}
}