.slide1 {
  background-color: tra;
  height: 100vh;
  font-weight: 600;
  font-size: 10.8rem;
  line-height: 0.83;
  display: flex;
  align-items: center;
  position: relative;
}
.slide1__flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  /* margin-top: 11.6rem; */
  position: relative;
}
.slide1__right {
  align-self: flex-end;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.slide1__right-typing {
  width: 25.7rem;
  height: 26.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.slide1__right-text-1 {
  width: 16.8rem;
}
.slide1__right-text-2 {
  width: 19.2rem;
}
.slide1__right-text-3 {
  width: 22.61rem;
}
.slide1__mobile-text {
  display: none;
  height: 400px;
}
.slide1__arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: ease 101ms;
  bottom: 5rem;
}
.slide1__arrow:hover {
  transform: translateY(10px);
  transition: ease 101ms;
}
.inner p {
  position: relative;
  margin: inherit !important;
}
.slide1__left-text {
  width: 15ch;
  font-size: 3rem;
  line-height: 3.5rem;
  z-index: 9;
}
.slide1__paragraph {
  font-size: 1.8rem;
  margin: 6rem 0 0;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: right;
}
.stripes {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: grid;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  opacity: 0.6;
}
.stripes {
  top: 0;
  grid: repeat(5, 200px) / repeat(10, 1fr);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#507eb1),
    color-stop(10%, #709dc7),
    color-stop(38%, #dde9f5),
    color-stop(48%, #eaf2f9),
    color-stop(62%, #f6f9fc)
  );
  background: linear-gradient(
    #507eb1,
    #709dc7 10%,
    #dde9f5 38%,
    #eaf2f9 48%,
    #f6f9fc 62%
  );
}
.stripes :first-child {
  grid-column: span 3;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(243, 251, 255, 0.4)),
    color-stop(20%, rgba(243, 251, 255, 0.15)),
    to(rgba(243, 251, 255, 0))
  );
  background: linear-gradient(
    100grad,
    rgba(243, 251, 255, 0.4),
    rgba(243, 251, 255, 0.15) 20%,
    rgba(243, 251, 255, 0)
  );
}
.stripes :nth-child(2) {
  grid-area: 3 / span 3 / auto/-1;
}
.stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 5;
}
.stripes :nth-child(4) {
  grid-area: 4 / span 5 / auto/-1;
}
.stripes :nth-child(5) {
  grid-area: auto/1/-1/-1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(80%, #fff),
    to(#f5fafd)
  );
  background: linear-gradient(100grad, #fff 80%, #f5fafd);
}
.slide1-patternlayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  background-image: radial-gradient(white 0%, transparent 0%),
    radial-gradient(white 6%, transparent 0%);
  background-size: 70px 68px;
  background-position: 0 0, 0 0;
  opacity: 0.18;
}
.slide1__right-img {
  width: auto;
  position: relative;
  z-index: -1;
  opacity: 1;
  top: 0;
}
@media screen and (max-width: 640px) {
.slide1 .container {
    padding: 0;
}
.slide1 .inner {
    padding: 0 2rem;
}
.slide1__flex {
    flex-direction: column;
}
.slide1__left-text {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}
.slide1__flex {
    align-items: flex-start;
}
.slide1__right-img {
    width: 200%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    top: 0;
}
.slide1__right {
    width: auto;
    align-self: flex-start;
    align-items: flex-start;
}
.slide1__paragraph {
    text-align: left;
}
}