.slide4 {
  height: 100vh;
  font-weight: 600;
  font-size: 10.8rem;
  line-height: 0.83;
  display: flex;
  align-items: center;
  position: relative;
}
.slide4 .slide4__flex {
  display: grid;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". .";
  height: 100%;
  justify-content: center;
  align-items: center;
}
.slide4 .slide4__right {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 1rem;
  padding-top: 4rem;
  margin: auto;
}
.slide4 .inner p {
  margin: inherit !important;
}
.slide4 .slide4__paragraph {
  font-size: 1.7rem;
  margin: 6rem 0 0;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  margin-left: auto!important;
  padding-left: 3rem;
  padding-bottom: 2rem!important;
}
.slide4__left {
    max-width: 17ch;
    position: relative;
    display: flex;
    flex-direction: column;
}
.slide4__left-text {
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.slide4__paragraph {
    font-size: 1rem;
}
.slide4 .container {
  height: 100%;
}
.slide4 .inner {
  height: inherit;
}



@media screen and (max-width: 640px) {


.slide4 .inner {
  padding: 0 2rem;
}

.slide4 .container {
  padding: 0;
}

.slide4 .slide4__flex {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.slide4__left {
  max-width: 100%;
}

.slide4__left-text {
  font-size: 2.4rem;
}

.slide4 .slide4__paragraph {
  padding: 0;
  max-width: 100%;
  padding-bottom: 1rem!important;
  font-size: 1.5rem;
}

.slide4__left-img {
  position: absolute;
  opacity: 0.3;
  width: 200%;
  margin-top: 5rem;
  height: auto;
}

.slide4 .slide4__right {
  padding-top: 0;
  margin: 0;
}
}